<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Explorer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style type="text/css" media="all">
    #map{width: 1200px; height:600px; border-radius: 5px; background-color: white; margin: auto;}
  </style>
</head>
<body>
  <%= link_to('Sign Up', new_user_registration_path)  %>
  <div id="map"></div>

  // <script type="text/javascript" charset="utf-8">
    // initialize the map on the "map" div


//     var map = L.map('map').setView([37.8, -96], 4);


//   //  // create a tile layer (or use other provider of your choice)
//     L.tileLayer('http://{s}.tile.cloudmade.com/d45604d5730341f19ea4d665294a9c76/997/256/{z}/{x}/{y}.png', {

//     attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>; contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/"&gt;CC-BY-SA</a>;, Imagery © <a href="http://cloudmade.com">;CloudMade</a>;',

//     maxZoom: 18
//     }).addTo(map);


// L.geoJson(statesData).addTo(map);

// // function getColor(d) {
// //     return  d > 10   ? '#800026' :
// //                       '#800026';
// // }

// function style(feature) {
//     return {
//         // fillColor: getColor(feature.properties.density),
//         weight: 2,
//         opacity: 1,
//         color: 'white',
//         dashArray: '3',
//         fillOpacity: 0
//     };
// }

// L.geoJson(statesData, {style: style}).addTo(map);


// var geojson;

// function highlightFeature(e) {
//     var layer = e.target;

//     layer.setStyle({
//         weight: 5,
//         color: '#666',
//         dashArray: '',
//         fillOpacity: 0.7,
//         fillColor: 'white'
//     });

//     if (!L.Browser.ie && !L.Browser.opera) {
//         layer.bringToFront();
//     }
// }

//     function resetHighlight(e) {
//       geojson.resetStyle(e.target);
// }

//     function zoomToFeature(e) {
//       map.fitBounds(e.target.getBounds());
//       console.log(e.latlng);
//       e.target.setStyle({
//         weight: 0,
//         color: 'white',
//         dashArray: '',
//         opacity: 0,
//         fillOpacity: 0,
//         fillColor: 0,
//         visibility: 'hidden'
//     });
//     }

//     function onEachFeature(feature, layer) {
//       layer.on({
//         mouseover: highlightFeature,
//         mouseout: resetHighlight,
//         click: zoomToFeature
//       });
//     }

//     geojson = L.geoJson(statesData, {
//       style: style,
//       onEachFeature: onEachFeature
//     }).addTo(map);



//   // </script>



<%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>
